extends ../layout
block content
    .container
        h3.page-header Imóveis
        a(href="/interno/imovel").btn.btn-primary Novo
        table.table.table-hover.table-stripped
            thead
                tr
                    th Imovel
                    th Descrição
                    th Local
                    th #
            tbody
                each imovel in imoveis
                    tr
                        td #{imovel.title}
                        td #{imovel.description}
                        td
                        td 
                            a(href="/interno/imovel/#{imovel._id}").btn.btn-default Editar