doctype html
html
  head
    title Acesso Restrito
    link(href="https://bootswatch.com/sandstone/bootstrap.min.css", rel="stylesheet")
    style.
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin .checkbox {
            font-weight: normal;
        }
        .form-signin .form-control {
            position: relative;
            font-size: 16px;
            height: auto;
            padding: 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="text"] {
            margin-bottom: -1px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

  body
    .container
        form(action="/interno/login", method="POST", role="form").form-signin
            h3.form-signin-heading Mapa de locações
            label.sr-only(for="username") Usuário
            input#username.form-control(type="text", placeholder="Usuário", name="username", autofocus, required)
            label.sr-only(for="password") Password
            input#password.form-control(type="password", placeholder="Senha", name="password", required)
            button.btn.btn-lg.btn-primary.btn-block(type="submit") Entrar